
slide {
  background-image: url('https://sport.universityofgalway.ie/assets/img/logo2.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 180px;
  padding-top: 100px;
  
  background-color: #f8f8f8;
  color: #000033;
  font-family: Arial, sans-serif;
}


.title-slide {
  background-color: #a80050;
  color: white !important;
  background-image: url('https://sport.universityofgalway.ie/assets/img/logo2.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 180px;
}


.title-slide h1 {
  font-size: 55pt;
  color: white;
  text-align: center;
}


.title-slide h2 {
  font-size: 35pt;
  color: white;
  text-align: center;
}


slide.title-slide:not(:first-of-type) {
  background-color: #000033;
  color: white;
}

slide.title-slide:not(:first-of-type) h1 {
  font-size: 48pt;
  color: white;
  text-align: center;
}


slide h2 {
  color: #84003d;
  border-bottom: 4px solid #a80050;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 32pt;
}


slide p {
  font-size: 20pt;
}


.left-right {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}
